*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Besley', serif;
}








.blocco-immagine{
    width: 33%;
    display: inline-block;
    
}
    

    

    
  






   



