*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Besley', serif;
}
.container{
    margin: auto;
    width: 1000px;
    margin-top:20px;
}

.prezzo-1{
    color: red;
}
.titolo-bold{
    font-weight: 700;
    font-size: large;
}

.prezzo-2{
    text-decoration: line-through;

}
    
    
    


.blocco-immagine{
    width: 33%;
    display: inline-block;
    position: relative;
   
}
    
.heart{
    position: absolute;
    width: 50px;
    background-color: blueviolet;
    top:50px;
    text-align: center;
    
    font-size: 50px;
    right:0;
   
    
}
.immagine{
    width: 100%;
}

    
    
    






    

    
  






   



